.scoreSection{
    width: 80%;
    background-color: white;
    border: solid #ffd32c 30px;
    border-radius: 25px;
    margin: 40px auto;
    overflow: hidden;
}

.levelArea {
    padding: 2em;
    width: 55%;
    margin: 0 auto;
}
  
#theLevel {
    width: 150px;
    background-color: #ffd32c;
    text-align: center;
    padding: 5px;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
}

#levelLabel {
    width: 150px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}

.scoreArea {
    padding: 1em;
    width: 55%;
    margin: 0 auto;
}
  
#theScore {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    font-size: 80px;
    font-weight: bold;
}

.footArea {
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.buttonBox{
    display: inline-block;
}
.goNext{
    display: inline-block;
    text-align: center;
    margin: 0 0 2em 0;
}
.goNext:hover{
    opacity: 0.5;
}

/*名言*/
#word{
    background: #17b7ae;
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    padding: 1.3rem ;
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
}

#toNext{
    width: 5rem; height: 5rem;
    text-align: center;
    background: #fd467b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 1em 0.2em 1em;
}

#retry{
    width: 5rem; height: 5rem;
    text-align: center;
    background: #17b7ae;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0.2em 1em;
}

.labelNext{
    font-size: 15px;
    font-weight: bold;
}

