body {
  background-color: #17b7ae;
  font-family: "Roboto";
}

.inner {
  width: 55%;
  margin: 0 auto;
}

.scoreArea{
  padding: 1em;
  width: 57%;
  margin: 0 auto;
}

#scoreTag {
  width: 250px;
  background-color: #128c85;
  color: white;
  padding: 3px 0 3px 0;
  margin-left: auto;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
}

#putScore {
  color: white;
  font-size: 25px;
}

#scoreTxt{
  color: white;
  font-size: 20px;
}

#input {
  width: 100%;
  color: white;
  background-color: black;
  font-size: 25px;
  border: none;
  outline: none;
}

#seq {
  overflow-wrap: break-word;
  width: 100%;
  padding: 0.5em;
  color: white;
  background-color: black;
  font-size: 25px;
  margin: 0 auto;
}

#PutoutArea {
  width: 100%;
  padding: 0.5em;
  color: white;
  background-color: black;
  font-size: 25px;
  display: flex;
  margin: 0 auto;
}

#wrongArea {
  width: 100%;
  padding: 0.5em;
  color: red;
  background-color: black;
  font-size: 25px;
  margin: 0 auto;
}

.doneArea{
  padding: 1em;
  width: 57%;
  margin: 0 auto;
}

#doneButton{
  width: 220px;
  background-color: #fd467b;
  text-align: center;
  color: white;
  margin-left: auto;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
}

#iconCheck{
  vertical-align: middle;
}

.titleArea {
  padding: 1em;
  width: 55%;
  margin: 0 auto;
}

#putLevel {
  width: 150px;
  background-color: #ffd32c;
  text-align: center;
  padding: 5px;
  color: white;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
}

#LevelTitle {
  text-align: center;
  padding: 0.5em;
  color: white;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
}